:root{
    --colorBordes: #000;
    --colorFondo: #fff;
    --colorSombra: rgba(0, 0, 0, 0.5);
    --colorDiiego: #E9DAAF;
    --colorVanessa: #d9cbe5;
    --colorHelmut: #cadeb9;
    --colorText: #F7C6C7;
}